Q1. Create a function add_numbers which takes 4 parameters
1. x (integer)
2. y (integer)
3. z (integer)
4. flag (Boolean)
z and flag are optional parameters
if function receives z then function should return the sum of x y and z else
return the sum of x and y
if flag is True also print the statement
“Flag is True”

In [158]:
def add_numbers(x,y,z=0,flag=False):
    if z==0:
        if flag:
            print('Flag is True')
        return x+y
    if flag:
        print('Flag is True')
    return x+y+z
add_numbers(10,10,5,True)

Flag is True

25

Q2. Write a function get_datetime(int) that takes a param number_of_days and
if the number is divisible by 2 returns (current_datetime + number_of_days) and
if number is divisible by 3 returns (current_datetime - number_of_days)
else return current_datetime

In [207]:
from datetime import datetime
from datetime import timedelta

def get_datetime(number_of_days):
    date=datetime.today()
    
    if number_of_days%2==0:
        return date+timedelta(days=number_of_days) 
    
    elif number_of_days%2!=0:
        return date-timedelta(days=number_of_days) 
    
    else:
        return date
    
print(datetime.today())
get_datetime(10)

2021-10-09 09:16:12.729626

datetime.datetime(2021, 10, 19, 9, 16, 12, 729954)

Q3. Write a function concat_lst that takes two list as a parameter and combine two list together into single list
and should not contains duplicate values.
You must use loop to solve this question

In [210]:
def concat_lst(list_1,list_2):
    list_3=[]
    for i in list_1:
        if i not in list_3:
            list_3.append(i)
    
    for j in list_2:
        if j not in list_3:
            list_3.append(j)
            
    return list_3
concat_lst([3,4,5,3],[4,5,3,2,1,5,6])

[3, 4, 5, 2, 1, 6]

Q4. Write a function string_case using map that takes list of characters and return
List of tuples with containing lower and upper case of that character’s list
Final Output must contain unique tuple element

In [219]:
def map_fun(a):
    return (a.upper(),a.lower())
def string_case(char_list):
    a=list(set(tuple(map(lambda i: map_fun(i),char_list))))
    return a
string_case(['a','b','c','a'])

[('C', 'c'), ('A', 'a'), ('B', 'b')]

Q5. Write a function get_city_mpg_avg, that groups the cars by number of cylinders, and
finding the average cty mpg for each group.
Output should be in the list of tuples
Output = [ (5,20),(4,18),(3,16) ]
Note:
1. Use MPG.csv file
2. First index of tuple shows the number of cylinders and second index shows the average
3. Result should be sorted by first tuple index by using lambda functions

In [362]:
import pandas as pnd
import numpy as np
data=pnd.read_csv('mpg.csv')

def get_city_avg():
    result=[]
    dat=data.groupby(['cyl'])
    for i,j in dat:
        d=pnd.DataFrame(data=j)
        avg=np.sum(d['cty'])/len(d['cty'])
        result.append((i,avg))
    result.sort(key=lambda i:i[0])
    return result

get_city_avg()

[(4, 21.012345679012345),
 (5, 20.5),
 (6, 16.21518987341772),
 (8, 12.571428571428571)]

Q6. Write a function get_hwy_mpg_avg find the average hwy mpg for each class of vehicle
Hwy mpg means highway mileage
1. Use MPG.csv file
2. Hwy mpg is found as hwy column in a file
3. Vehicle class is found as class column in a file
4. Sort Hwy Mpg in ascending order
Output sample: [('pickup', 16.88),('suv', 18.13),('minivan', 22.36),('2seater', 24.80),('midsize', 27.29),
('subcompact', 28.14), ('compact', 28.30)]

In [363]:
data=pnd.read_csv('mpg.csv')

def get_hwy_mpg_avg():
    result=[]
    dat=data.groupby(['class'])
    for i,j in dat:
        d=pnd.DataFrame(data=j)
        avg=np.sum(d['hwy'])/len(d['hwy'])
        result.append((i,avg))
    result.sort(key=lambda i:i[1])
    return result

get_hwy_mpg_avg()

[('pickup', 16.87878787878788),
 ('suv', 18.129032258064516),
 ('minivan', 22.363636363636363),
 ('2seater', 24.8),
 ('midsize', 27.29268292682927),
 ('subcompact', 28.142857142857142),
 ('compact', 28.29787234042553)]

Q7. Create a class Student with the following getters and setters
1. Constructor
a. Create an Object with following parameters
i. Name
ii. Batch No
iii. Address
iv. Age
v. Father Name
vi. City

2. New
a. Students with age more than 18 are not allowed in the school
b. Students of Lahore Islamabad Faisalabad Karachi are allowed
3. Setters
a. Name (str)
b. Batch no (int)
c. Address (str)
d. Age (str)
e. Father name (str)
f. City (str)
4. Getters
a. Name
b. Batch no
c. Address
d. Age
e. Father name
f. City
5. Create a new class called DevnationStudents which is a child class of Student
a. Write a constructor that
i. That calls the Parent Class Constructor
ii. Also save courses and marks as empty list in the child constructor
b. Write setter functions
i. Add courses
1. Takes a list of courses
2. Add only those courses in the list which are not already in the
ii. Add courses_marks
1. This takes the list of dictionaries
2. If the particular exists in the courses lists then the particular dictionary
should be added in the marks list
3. Marks list should not contains duplicate entries of same courses

c. Write getter functions
i. Get courses
ii. Get Marks

In [645]:
class Student:
    def __new__(cls,name, batch_no, address, age, father_name, city):
        city_list=['Lahore', 'Islamabad', 'Faisalabad', 'Karachi']
        if age>18 or city not in city_list:
            print('You are not allowed')
            pass
        else:
            inst=object.__new__(cls)
            return inst
       
    def __init__(self, name, batch_no, address, age, father_name, city):
        self.name=name
        self.batch_no=batch_no
        self.address=address
        self.age=age
        self.father_name=father_name
        self.city=city
    
    #Setter
    def set_name(self,name):
        self.name=name
    
    def set_batch_no(self,batch_no):
        self.batch_no=batch_no
    
    def set_address(self,address):
        self.address=address
    
    def set_age(self,age):
        self.age=age
    
    def set_father_name(self,father_name):
        self.father_name=father_name
    
    def set_city(self,city):
        self.city=city
        
    #Getter
    
    def get_name(self):
        return self.name
    
    def get_batch_no(self):
        return self.batch_no
    
    def get_address(self):
        return self.address
    
    def get_age(self):
        return self.age
    
    def get_father_name(self):
        return self.father_name
    
    def get_city(self):
        return self.city

- Create a new class called DevnationStudents which is a child class of Student a. Write a constructor that i. That calls the Parent Class Constructor ii. Also save courses and marks as empty list in the child constructor b. Write setter functions i. Add courses
- Takes a list of courses
- Add only those courses in the list which are not already in the ii. Add courses_marks
- This takes the list of dictionaries
- If the particular exists in the courses lists then the particular dictionary should be added in the marks list
- Marks list should not contains duplicate entries of same courses
- Write getter functions i. Get courses ii. Get Marks

In [646]:
class DevnationStudent(Student):
    def __init__(self,name, batch_no, address, age, father_name, city, courses=[], marks=[]):
        super().__init__(name, batch_no, address, age, father_name, city)
        self.courses=courses
        self.marks=marks
    
    def set_courses(self,courses):
        for i in courses:
            if i not in self.courses:
                self.courses.append(i)
    
    def set_marks(self,marks):
        for i in marks:
            a=i['Course']
            if a in self.courses:
                if self.marks:
                    for j in self.marks:
                        b=j['Course']
                        if a==b:
                            self.marks.remove(j)
                self.marks.append(i)
            
        
    def get_course(self): 
        return self.courses
    
    def get_marks(self): 
        return self.marks

In [649]:
obj1=DevnationStudent('Umar','July','Pakistan',21,'Rustam Khan','Islamabad')
#Second object:
obj=DevnationStudent('Umar','July','Pakistan',18,'Rustam Khan','Islamabad')
obj.set_courses(['ICT','PF'])
obj.set_marks([{'Course':'ICT','Marks':60},{'Course':'PF','Marks':70},{'Course':'OOP','Marks':90},{'Course':'ICT','Marks':100}])
obj.get_marks()

You are not allowed

[{'Course': 'PF', 'Marks': 70}, {'Course': 'ICT', 'Marks': 100}]

Q8. Write a function get_indices that receives the list of integers nums and an integer target, return indices of
the two numbers such that they add up to target. You may assume that each input would have exactly one
solution, and you may not use the same element twice.
You can return the answer in any order.
Example 1:
Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Output: Because nums[0] + nums[1] == 9, we return [0, 1].
Example 2:
Input: nums = [3,2,4], target = 6
Output: [1,2]

In [137]:
def get_indices(num_list,target):
    for i in range(len(num_list)):
        for j in range(i+1,len(num_list)-1):
            if num_list[i]+num_list[j]==target:
                return [i,j]
                break
    return 'Not found'

num_list=[3,4,5,2,1]
get_indices(num_list,6)

[1, 3]

Q9. Write a function backward_number. That a receives a number and return the number in backwards
Input = 1234
Output = 4321

- Created a method called reverse which take a parameter number.
- Rev=0 Created a varibale rev which will store rev numebr.
- While loop until number is > 0 
- N=num%10 In Which will get reminder if we give a number 1234 in fisrt we will get 4
- Rev=rev*10+n in this fisrt rev will 0 and n is reminder which will add actual rev value and add all for revers a string.
- Num=num//10 for eliminating the last of num

In [17]:
def reverse(num):
    rev=0
    while num>0:
        n=num%10 
        rev=rev*10+n 
        num=num//10 
    return rev

print(reverse(1234))

4321

Q10. Create a function remove_duplication that takes a list and remove duplication from list.

In [94]:
def remove_duplication(num_list):
    a=[]
    for i in num_list:
        if i not in a:
            a.append(i)
    num_list=a
    return num_list
num_list=[2,3,3,2,5,5,4,4,4,4,6,7]
remove_duplication(num_list)

[2, 3, 5, 4, 6, 7]